[general]

# the URL where the service website can be accessed
api_url = https://mmsgw.fakedemosite.com/

# development port if you want to run application's own website
# -- do not use in production --
#api_dev_port = 8080

# time to live for the messages, while they're getting prepared,
# transmitted, and until their receipt is confirmed
#mms_ttl = 3600

# a gateway must report its state at regular intervals of time,
# so we know that it's healthy; a gateway would be declared dead 
# and shut istself down after a few missed heartbeats
#gateway_heartbeat_interval = 30
#gateway_max_missed_heatbeats = 5

# when a gateway is in an uncertain functional state, it may fail 
# to properly process transmission jobs; the jobs can be taken
# over by other gateways in the same group, but we need to limit 
# how many such retries we allow, to avoid retrying forever
#max_tx_retries = 5

[message_storage]
# redis server conenction for the messages storage
#host = localhost
#port = 6379
#db = 0

[queue_storage]
# redis server connection for the gateway rq queues
#host = localhost
#port = 6379
#db = 0

